<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.ink.sapo.pt/3.0.0/css/ink.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>UnNAmed</title>
  </head>
  <body>
    <div class="ink-grid">
      <div class="column-group">
        <div class="all-60">
          <!-- TODO: new view -->
          <h1>Ohh! Main stuff!</h1>
        </div>
        <div class="all-40">
          <h1>Other stuff...</h1>
        </div>
      </div>
    </div>
     <script data-main="./app/config" src="./assets/js/lib/require.js"></script>
  </body>
</html>
